{% extends './head.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/3urgejr54t4j59g4945.css' %}" />
{% endblock style %}

{% block content %}
<div class="content_item">
    <h2 class="item_title">Admins</h2>
    <p>No admin awaiting approval.</p>
</div>
<div class="content_item">
    <h2 class="item_title">Students</h2>
    <p>No student awaiting approval.</p>
</div>
<div class="content_item">
    <h2 class="item_title">Exams</h2>
    <p>No forthcoming examination.</p>
</div>
<div class="content_item">
    <h2 class="item_title">Tests</h2>
    <p>No forthcoming test.</p>
</div>
<div class="content_item">
    <h2 class="item_title">Results</h2>
    <p>No unpublished results.</p>
</div>
<div class="content_item">
    <h2 class="item_title">Enquiries/Complaints</h2>
    <p>No pending enquiry/complaint.</p>
</div>
{% endblock content %}
{% block script %}
<script>
    console.log("Nothing here!")
</script>
{% endblock script %}
